.cart-page {
  padding: 25px;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
}

.cart-items,
.price-box {
  background: white;
  padding: 20px;
}

.cart-item {
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.cart-item img {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.cart-info {
  flex: 1;
}

.cart-info h3 {
  margin-bottom: 15px;
}

.cart-info p {
  font-size: 22px;
  font-weight: bold;
}

.cart-quantity {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.cart-quantity button {
  width: 35px;
  height: 35px;
  border: 1px solid #aaa;
  background: white;
}

.cart-quantity span {
  padding: 0 20px;
}

.remove {
  border: none;
  background: none;
  font-weight: bold;
}

.price-box {
  height: max-content;
}

.price-box p {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.price-box h2 {
  display: flex;
  justify-content: space-between;
}

.price-box > button {
  width: 100%;
  background: #fb641b;
  color: white;
  padding: 15px;
  border: none;
  margin-top: 20px;
  font-weight: bold;
}

.empty-cart {
  text-align: center;
  padding: 100px;
}

.empty-cart button {
  background: #2874f0;
  color: white;
  border: none;
  padding: 15px 40px;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .cart-page {
    grid-template-columns: 1fr;
  }
}